{% extends 'base.html.twig' %}

{% block title %}Hello AuthorizationController!{% endblock %}

{% block body %}
<main class="flex w-full h-full min-h-[100vh] height-fit
    flex-col justify-center items-center
    md:flex-row
    xl:container xl:mx-auto">

    {# "floating" forum logo #}
    <div class="flex flex-col w-full h-full min-h-[100vh] md:w-1/2">
        <div class="flex justify-center pt-12 md:justify-start md:pl-12">
        <a href="/" aria-label="Site logo"
            class="flex items-center p-2">
            {{ svg_embed('icons/logo-large.svg') }}
        </a>
    </div>

    <div class="flex flex-col justify-center items-center
        p-8 my-auto space-y-10
        md:justify-start md:px-16 md:space-y-16">
        <h1 class="text-3xl text-center">Welcome to the community!</h1>

        {{ form_start(formRegister, {'attr': {
            id: "registration",
            class: "flex flex-col w-full space-y-6"
        }}) }}
            <div class="space-y-3">
                {{ form_row(formRegister.email, {
                    formId: "registration",
                    label: false,
                    placeholder: "Your email address",
                    icon: "icons/envelope-simple.svg",
                    value:  emailLast|default(null),
                    required: true
                }) }}
                {{ form_row(formRegister.username, {
                    formId: "registration",
                    label: false,
                    placeholder: "Your username",
                    icon: "icons/user.svg",
                    value:  usernameLast|default(null),
                    required: true
                }) }}
                {{ form_row(formRegister.plainPassword, {
                    formId: "registration",
                    label: false,
                    placeholder: "Password",
                    required: true
                }) }}
                {{ form_row(formRegister.agreeTos, {
                    formId: "registration",
                    label: "Agree to the Terms of Service",
                    required: true
                }) }}


            </div>

            {{ component('Button', { buttonObject: 'button', text: "Register",
                type: 'submit', form: "registration" }) }}
        {{ form_end(formRegister) }}

        <p>
            Already have an account?
            <a href="/login" class="font-semibold underline
                hover:text-orange">Sign in here</a>.
        </p>
    </div>
</div>

    {# Sidebar image #}
    <div class="hidden md:block md:w-1/2 md:h-full">
        <img src="{{ asset('images/lewd.svg') }}"
            alt="An anime chibi girl holding a sign that says 'lewd'."
            class="object-contain w-full min-h-[60%] max-h-[90%]
                shadow-lg shadow-secondary-dark"
                style="filter: invert(66%) sepia(55%) saturate(5704%) hue-rotate(355deg) brightness(100%) contrast(94%);"/>
    </div>
</main>
{% endblock %}
