{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
  * + #hero {
    margin-bottom: 0;
  }
  #hero {
    margin-top: 0;
    margin-bottom: 0;
  }
  #hero + *,
  #hero2 + *  {
    margin-top: 0;
  }
</style>
{% endblock %}

{% block title %}Hello LandingPageController!{% endblock %}

{% block body %}
<header class="w-full sticky top-0 -mb-16
    {# Animation stuff #}
    hidden opacity-0
    transition-opacity duration-300">
    {{ component('TopNavbar', {links: []}) }}
</header>

{# Hero section #}
<section id="hero" class="flex flex-col justify-center min-h-[90vh] h-fit py-8">
    <div class="container mx-auto
        flex flex-col items-center text-center justify-center
        px-4
        md:px-10 lg:max-w-4xl">
        {{ svg_embed('icons/logo-large.svg',
            ['icon-xl', 'sm:icon-2xl', 'md:icon-3xl']) }}

        <h1 class="text-4xl font-bold sm:text-5xl">The open-source
            <span class="text-primary">adult roleplaying site</span>
            of your dreams
        </h1>

        <div class="flex items-center mt-6
        {# Mobile classes #}
        flex-col space-y-4 w-full
        {# Desktop classes #}
        sm:flex-row sm:space-y-0 sm:space-x-3
        md:w-auto ">
            {{ component('Button', { buttonObject:'a',
                href:'/login', target: '_self',
                text:'Sign in', use:'primary', style:'outline',
                additionalClasses: "w-full"
            }) }}
            {{ component('Button', { buttonObject:'a',
                href:'/signup', target: '_self',
                text:'Register', use:'primary', style:'solid',
                additionalClasses: "w-full"
            }) }}
        </div>
    </div>
</section>

{# "advert blurb" section #}
<section id="description" class="bg-secondary-dark">
    <div class="container mx-auto
        flex flex-col items-center text-center justify-center
        px-4 py-24
        md:px-10 lg:max-w-5xl">
        <p class="text-xl">
            K-Dex is an open-source framework for roleplaying forums in the vein of F-List, a popular NSFW site that has (for better or worse) garnered a reputation for itself. It has implemented the same features as its inspiration, with the addition of expanding on top of them.
        </p>
        <p class="text-xl">
            Its origins may be from the NSFW corners of the web, but by no means is hosting ERPs <em>(<strong>e</strong>rotic <strong>r</strong>ole<strong>p</strong>lays)</em> its sole purpose. You can create your own instance with your own rules and features - that's the beauty of the site being open-source!
        </p>
    </div>
</section>

{# Feature info sections #}
<section id="features">
    <div class="container mx-auto
    flex flex-col items-center
    {# The mobile column style #}
    space-y-10 lg:space-y-6">
    {% set featureArray = [
        {
            title: "Create your characters!",
            content: "The core of K-Dex is the creation of characters and their profiles. Be as detailed or minimal as you want (though from personal experience, I'd suggest using a lot of images). And with your character set up..."
        },
        {
            title: "Interact with others!",
            content: "Show off your newly created OC (or shamelessly stolen cannon character) to other Dexers (userbase name pending)! Someone will surely show interest in them, which should allow you to..."
        },
        {
            title: "Roleplay with people!",
            content: "Whether you want one-on-one personal stories, one-on-GM/DM, or even create a world with a group of other writers, we've got you covered! All of this can be done through forums and direct messages, but if you want more rapid-fire dopamine hits..."
        },
        {
            title: "Chat in real time!",
            content: "Yes, we have an IRC channel to help you write out your fantasies with all other users logged in! Everyone's characters and interests are accessible directly if you use our app (not in development yet), but you can connect from any other IRC client as well!"
        }
    ] %}
    {% for feature in featureArray %}
        {{ component('Article', mergeRecursively(feature, {
            image: {
                url: "images/article.png",
                alt: "article image",
                position: loop.index is even ? 'left' : 'right'
            } })
        ) }}
    {% endfor %}
    </div>
</section>

{# Ask to join (again) #}
<section id="hero2" class="flex flex-col justify-center bg-primary-dark">
    <div class="container mx-auto
        flex flex-col items-center text-center justify-center
        px-4 py-16 space-y-8
        md:px-10 lg:max-w-4xl">
        <h3 class="text-4xl font-bold sm:text-5xl text-white">Seems interesting? Then
            <span class="text-secondary-dark">join us</span>
            today!
        </h1>
        {{ component('Button', { buttonObject:'a',
            href:'/signup', target: '_self',
            text:'Register', use:'secondary', style:'solid',
            additionalClasses: "w-full"
        }) }}
    </div>
</section>

<footer class="w-full">
    {{ component('Footer', {
        links: [
            { name: 'Terms of Use', href: '/tos' },
            { name: 'Contact', href: '/contact' }
        ] }
    ) }}
</footer>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

  window.addEventListener('scroll', function() {
    const header = document.querySelector('header');
    const hero = document.querySelector('#hero');
    var heroHeight = hero.offsetHeight;
    var scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollTop > heroHeight) {
    header.classList.remove('opacity-0');
    header.classList.add('opacity-100');
    header.classList.remove('hidden');
    header.classList.add('flex');
    } else {
    header.classList.remove('opacity-100');
    header.classList.add('opacity-0');
    header.classList.remove('flex');
    header.classList.add('hidden');
    }
  });
</script>
{% endblock %}
