{% import 'dev/components/macros.html.twig' as macros %}

{% extends 'base.html.twig' %}

{% block title %}Hello Component reference!{% endblock %}

{% block body %}
    <div class="relative container mx-auto">
        <h1 class="text-4xl text-center">Tailwind/Twig Custom components</h1>

        {{ macros.CustomComponent('Button', [
                { text: "Normal button!",   use: 'normal' },
                { text: "Confirm button!",  use: 'confirm' },
                { text: "Warning button!",  use: 'warning' },
                { text: "Danger button!",   use: 'danger' }
            ], [
                { name: 'filled', attributes: {} },
                { name: 'outlined', attributes: { style: 'outline' } },
                { name: 'disabled', attributes: { disabled: true } }
        ]) }}

        {{ macros.CustomComponent('TopNavbar', [{}], [
            {name: 'default', attributes: { links: [
                { name: 'Link', href: '#' },
                { name: 'Link', href: '#' },
                { name: 'Link', href: '#', active: true }
            ] }}
        ]) }}

        {{ macros.CustomComponent('Article', [
            {
                title: "This is a title",
                content: "This is a single sentence, or a very short paragraph, describing what the article is about. It should really be no more than 200 characters, so it's short, sweet & easily digestible.",
                image: {
                    url: "images/article.png",
                    alt: "The article's banner image"
                }
            }
            ], [
                { name: 'default/left', attributes: {} },
                { name: 'right', attributes: {image:{position:'right'}} }
        ]) }}

        {{ macros.CustomComponent('Footer', [{}], [
            {name: 'default', attributes: { links: [
                { name: 'Terms of Use', href: '#' },
                { name: 'Contact', href: '#' }
            ] }}
        ]) }}

        {{ macros.CustomComponent('Input', [
                { type: 'text',     formId: '#', name: "text-field",
                    placeholder: "Text field" },
                { type: 'password', formId: '#', name: "password-field",
                    placeholder: "Password field" },
                { type: 'email',    formId: '#', name: "email-field"     ,
                    placeholder: "Email field" },
                { type: 'url',      formId: '#', name: "url-field",
                    placeholder: "URL field" },
                { type: 'number',   formId: '#', name: "number-field",
                    placeholder: "Number field" }
            ], [
                { name: 'default', attributes: {} }
        ]) }}
    </div>
{% endblock %}
