
<div class="flex flex-col w-full content-center justify-center px-2 md:px-3
    {# Classes for small screens #}
    space-y-1
    {# Classes for 'desktops' #}
    md:space-y-0
    {# Defining the row order in larger screens #}
    {% if image.position is defined and image.position == "right" %}
        lg:flex-row-reverse
    {% else %}
        lg:flex-row
    {% endif %}">

    <div class="lg:mx-4
        {# Enforcing more-or-less consistent sizes #}
        aspect-[5/2] w-full h-auto lg:h-52 lg:w-auto
        {# The justify-content bypass, since it doesn't work for some reason #}
        my-auto
        {% if image.classes is defined %}{{ image.classes }}{% endif %}">
        <img src="{{ asset(image.url) }}" loading="lazy" alt="{{ image.alt }}"
            class="object-cover object-top w-full h-full
            border border-primary" />
    </div>
    <div class="w-full text-left
        flex flex-col justify-center space-y-2">
        <h4 class="text-xl font-bold">{{ title }}</h4>
        <p>{{ content }}<p>
    </div>
</div>
