{% use 'tailwind_2_layout.html.twig' %}

{###########
 ###
 ###    Text area-like input types
 ###
 ###########}

{% block form_widget_simple %}
    <div
        {% set type = type|default('text') %}

        {% if type is not same as("hidden") %}
            class="flex flex-row w-full px-6 py-3 shadow-md
            text-white fill-white placeholder-grey
            bg-grey-950 rounded border border-secondary-light
            focus-within:border-primary focus-within:outline-primary
            focus-within:ring-primary-light focus-within:ring-1  focus-within:ring-offset-1"
        {% endif %}
    >
        {% if icon is defined %}
            {{ svg_embed(icon,
                ["flex", "items-center", "-ml-4", "-my-1", "pr-2", "fill-white"]) }}
        {% endif %}

        <input
            {# Global HTML properties #}
            id="{{ id }}"
            name="{{ full_name }}"
            type="{{ type }}"
            {% if placeholder is defined %}
                placeholder="{{ placeholder ?? '' }}"
            {% endif %}
            {% if formId is defined %}
                form="{{ formId }}"
            {% endif %}

            {% if value is defined %}
                value="{{ value }}"
            {% endif %}

            {# Global verification properties #}
            {{ required ? "required" : '' }}
            {{ disabled ? "disabled" : '' }}

            {{ block('attributes') }}

            class="
                w-full bg-transparent p-0
                {# Trying to remove the default focus indicators#}
                border-0 outline-none focus:border-transparent
                focus:ring-0 focus:ring-offset-0
                {% if classes is defined %}{{ classes }}{% endif %}
            "
        />
    </div>
{% endblock form_widget_simple %}

{% block number_widget %}
    {# type="number" doesn't work with floats in localized formats #}
    {% set type = type|default("text") %}
    {% set icon = icon|default("icons/hash.svg") %}
    {{ block('form_widget_simple') }}
{% endblock number_widget %}

{% block integer_widget %}
    {% set type = type|default("number") %}
    {{ block('number_widget') }}
{% endblock integer_widget %}

{% block url_widget %}
    {% set type = type|default('url') %}
    {% set icon = icon|default("icons/link.svg") %}
    {{ block('form_widget_simple') }}
{% endblock url_widget %}

{% block search_widget %}
    {% set type = type|default('search') %}
    {% set icon = icon|default("icons/magnifying-glass.svg") %}
    {{ block('form_widget_simple') }}
{% endblock search_widget %}

{% block password_widget %}
    {% set type = type|default('password') %}
    {% set icon = icon|default("icons/password.svg") %}
    {{ block('form_widget_simple') }}
{% endblock password_widget %}

{% block email_widget %}
    {% set type = type|default('email') %}
    {% set icon = icon|default("icons/envelope-simple.svg") %}
    {{ block('form_widget_simple') }}
{% endblock email_widget %}

{% block percent_widget %}
    {% set type = type|default('text') %}
    {{ block('form_widget_simple') }}
    {# Append the input field with a percent sign #}
    {% if symbol %}
        {{ symbol|default('%') }}
    {% endif %}
{% endblock percent_widget %}

{%- block tel_widget -%}
    {%- set type = type|default('tel') -%}
    {% set icon = icon|default("icons/phone.svg") %}
    {{ block('form_widget_simple') }}
{%- endblock tel_widget -%}

{% block hidden_widget %}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
{% endblock hidden_widget %}



{###########
 ###
 ###    Checkbox & radio
 ###
 ###########}
{% block checkbox_widget %}
    <input
        id="{{ id }}"
        name="{{ full_name }}"
        type="checkbox"
        {% if placeholder is defined %}
            placeholder="{{ placeholder ?? '' }}"
        {% endif %}
        {% if formId is defined %}
            form="{{ formId }}"
        {% endif %}

        {% if value is defined %}
            value="{{ value }}"
        {% endif %}
        {% if checked %}
            checked
        {% endif %}

        class="
            appearance-none h-6 w-6 mr-2 bg-grey-950
            rounded border border-secondary-light
            focus:border-primary focus:outline-primary
            focus:ring-0 focus:ring-offset-0
            checked:bg-primary checked:hover:bg-primary-light checked:focus:bg-primary-light"

        {{ block('widget_attributes') }}
    >
{% endblock checkbox_widget %}

{% block radio_widget %}
    <input
        id="{{ id }}"
        name="{{ full_name }}"
        type="radio"
        {% if placeholder is defined %}
            placeholder="{{ placeholder ?? '' }}"
        {% endif %}
        {% if formId is defined %}
            form="{{ formId }}"
        {% endif %}

        {% if value is defined %}
            value="{{ value }}"
        {% endif %}
        {% if checked %}
            checked
        {% endif %}

        class="
            appearance-none h-6 w-6 mr-2 bg-grey-950
            border border-secondary-light
            focus:border-primary focus:outline-primary
            focus:ring-0 focus:ring-offset-0
            checked:bg-primary checked:hover:bg-primary-light checked:focus:bg-primary-light"

        {{ block('widget_attributes') }}
    >
{% endblock radio_widget %}



{###########
 ###
 ###    Buttons
 ###
 ###########}

{%- block button_widget -%}
    {# Some snippet from the default template #}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}

    <button
        id="{{ id }}"
        type="{{ type|default('button') }}"
        name="{{ full_name }}"
        {% if value is defined %}
            value="{{ value }}"
        {% endif %}
        {% if formId is defined %}
            form="{{ formId }}"
        {% endif %}
        {% if disabled %} disabled {% endif -%}
        {{ block('attributes') }}

        class="
            px-8 py-3
            text-center text-base font-semibold
            flex justify-center items-center
            shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded
            transition ease-in duration-200
            {{ tailwind_classes|default("
                bg-secondary text-white
                focus:ring-secondary-light focus:ring-offset-brown-200
                hover:bg-secondary-light hover:text-white
                active:bg-secondary-dark
                active:ring-secondary-dark active:ring-offset-secondary-light
                active:text-white
            ") }}
            {% if classes is defined %}{{ classes }}{% endif %}
        "
    >
        {# Some snippet from the default template #}
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
    </button>
{%- endblock button_widget -%}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}
    {{ block('button_widget') }}
{%- endblock submit_widget -%}

{%- block reset_widget -%}
    {%- set type = type|default('reset') -%}
    {% set tailwind_classes = "
        bg-warning text-white
        focus:ring-warning-light focus:ring-offset-yellow-200
        hover:bg-warning-light hover:text-white
        active:bg-warning-dark
        active:ring-warning-dark active:ring-offset-warning-light
        active:text-white
    " %}
    {{ block('button_widget') }}
{%- endblock reset_widget -%}



{###########
 ###
 ###    Error fields
 ###
 ###########}

{% block form_errors %}
    {% if errors is not empty %}
    <div
        role="alert"
        class="border-l-4 p-4 mb-2 flex flex-row w-full
            bg-danger-light border-danger-dark text-danger-dark"
    >
        <div class="flex flex-col w-full">
            {% if title is defined %}
                <h1 class="text-xl font-bold">
                    {{ title }}
                </h1>
            {% endif %}

            <p>
            {% if errors|length == 1 %}
                {% for error in errors %}
                    {{ error.message }}
                {% endfor %}
            {% elseif errors|length > 1 %}
                <ul class="list-disc ml-4">
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            </p>
        </div>
    </div>
    {% endif %}
{% endblock form_errors %}



{###########
 ###
 ###    Form content layouts
 ###
 ###########}


{% block form_start %}
    {% do form.setMethodRendered() %}

    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}

    <form
        {% if name != '' %}
            id="{{ name }}"
            name="{{ name }}"
        {% endif %}
        {% if action != '' %}
            action="{{ action }}"
        {% endif %}
        {% if multipart %}
            enctype="multipart/form-data"
        {% endif %}
        method="{{ form_method|lower }}"
        {{ block('attributes') }}
        class="flex flex-col space-y-6 w-full"
    >
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}">
    {% endif %}
{% endblock form_start %}

{%- block form_row -%}
    {% set type = type|default('text') %}

    {% if placeholder is not defined
        and type in ['text', 'textarea', 'url', 'email', 'tel', 'number', 'password'] %}
        {% set placeholder = label %}
        {% set label = null %}
    {% endif %}

    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    <div
        class="flex
            {% if type in ['checkbox', 'radio'] %}
                flex-row
            {% else %}
                flex-col
            {% endif %}
            "
        {% with {attr: row_attr} %}
            {{ block('attributes') }}
        {% endwith %}
    >
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form, widget_attr) -}}
        {{- form_help(form) -}}
    </div>
{%- endblock form_row -%}

{% block checkbox_row %}
    {% set row_attr = row_attr|merge(
        { class: row_attr.class|default(row_class|default('mb-6')) }
    ) %}

    {% set widget_attr = {} %}
    {% if help is not empty %}
        {% set widget_attr = {attr: {'aria-describedby': id ~"_help"}} %}
    {% endif %}

    <div
        {% with {attr: row_attr} %}
            {{ block('attributes') }}
        {% endwith %}
    >
        {{- form_errors(form) -}}

        <div class="inline-flex items-center">
            {{- form_widget(form, widget_attr) -}}
            {{- form_label(form) -}}
        </div>

        {{- form_help(form) -}}
    </div>
{% endblock checkbox_row %}



{###########
 ###
 ###    Form helper blocks
 ###
 ###########}

{% block attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ translation_domain is same as(false) or attrvalue is null ? attrvalue : attrvalue|trans(attr_translation_parameters, translation_domain) }}"
        {%- elseif attrvalue is same as(true) -%}
            {{- attrname }}
        {%- elseif attrvalue is not same as(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock attributes -%}
