<script>
  function checkTopnavHbr(event) {
    if (event.key === 'Enter' || event.key === ' ') {
      event.preventDefault();
      const topnavHbr = document.getElementById('topnav-hbr');
      topnavHbr.checked = !topnavHbr.checked;
    }
  }
</script>

<nav id="topnav" class="navbar bg-secondary w-full">
    <div class="lg:container lg:mx-auto
        flex justify-between
        h-16 px-6">
        <input type="checkbox" name="hbr" id="topnav-hbr"
            class="hidden" hidden="" aria-hidden="true"/>

        <div class="w-full items-center flex justify-between lg:w-auto">
            <a href="/" aria-label="Site logo"
                class="flex items-center p-2">
                {{ svg_embed('icons/logo.svg') }}
            </a>
            <label for="topnav-hbr" tabindex="0"
                onkeydown="checkTopnavHbr(event)"
                class="block relative cursor-pointer lg:hidden">
                {{ svg_embed('icons/menu.svg') }}
            </label>
        </div>
        <div id="topnav-hbr-menu" class="hidden
            flex-wrap items-center
            {# Hamburger menu on small screens #}
            fixed z-10 left-8 right-8
            mt-20 space-y-8 p-6
            border border-secondary rounded-xl bg-secondary-light
            {# Tablet/laptop screens #}
            md:flex-nowrap
            {# Desktop view overwrite #}
            lg:static lg:w-max lg:z-0
            lg:space-y-0 lg:p-0 lg:m-0
            lg:border-0 lg:bg-transparent
            lg:flex lg:items-stretch
        ">
            <ul class="
                {# Hamburger menu on small screens #}
                space-y-6
                {# Desktop view overwrite #}
                lg:flex lg:space-y-0 lg:pr-4
            ">
            {% for link in links %}
                <li class="flex border-primary focus-within:border-b-4
                            transition-all duration-200">
                    <a href="{{ link.href }}"
                        class="self-center px-4
                        {# Alignment fix on focus #} focus:-mb-1">
                        {{ link.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
            <div class="flex w-full
                flex-col space-y-2
                xs:flex-row xs:space-x-3 xs:space-y-0
                md:w-max
                lg:space-y-0
                flex-shrink-0 items-center">
                {{ component('Button', { buttonObject:'a',
                    href:'/login',
                    text:'Sign in', use:'primary', style:'outline',
                    additionalClasses: "w-full"
                }) }}
                {{ component('Button', { buttonObject:'a',
                    href:'/signup',
                    text:'Register', use:'primary', style:'solid',
                    additionalClasses: "w-full"
                }) }}
            </div>
        </div>
    </div>
</nav>
