{% extends 'base.html.twig' %}

{% block title %}Hello Colors swathe!{% endblock %}

{% block body %}
    <div class="relative container mx-auto">
        <h1 class="text-4xl text-center">Tailwind Custom Colors</h1>

        {% for colorName, colorShades in colors %}
        <div class="flex flex-col mb-3">
            {% if colorShades is iterable %}
            <h2 class="text-xl text-center smallcaps">{{ colorName }}</h2>

            <ul class="flex flex-row w-full overflow-x-auto">
                {% for shade, colorValue in colorShades %}
                <li class="
                    flex flex-col items-center
                    min-w-24 min-h-16 w-full
                    p-2 {{ shade > 500 ? 'text-white' : 'text-black' }}"
                    {# Since Tailwind doesn't like 'partial' class names #}
                    style="background:{{ colorValue }}"
                >
                    <p>{{ shade }}</p>
                    <p class="uppercase">{{ colorValue }}</p>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="
                flex flex-col items-center
                min-h-16 w-1/2
                p-2 mx-auto mt-3
                text-white
                {% if colorShades matches '/^#[0-9a-fA-F]+$/' %}
                    {# Since Tailwind doesn't like 'partial' class names #}
                    "
                    style="background:{{ colorShades }}"
                {% else %}
                    bg-{{ colorShades }}"
                {% endif %}
            >
                <h2 class="text-xl text-center smallcaps">{{ colorName }}</h2>
                <p class="uppercase">{{ colorShades }}</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}

{### UTILITY ALIASES ###
    Need to name them here manually, since Tailwind doesn't actually
    read imported values n such

    white: 'bg-orange-50',
    black: '#0d0500',
    light: 'bg-grey-900',
    dark:  'bg-grey-950',

    primary:    'bg-#F77711',
    secondary:  'bg-orange-700',
    info:       'bg-indigo-700',
    success:    'bg-green-700',
    warning:    'bg-yellow-700',
    danger:     'bg-red-700'
#}
